/*Estilizando SECTION */

/*ConteudoSC1*/
.conteudoPage1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--Woodsmoke-50, #F6F6F6);
}

.conteudoSC1 {
    padding: 54px 59px;
}

.conteudoSC1 h1 {
    color: #121212;
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
}

.techrestSC1 {
    display: flex;
    gap: 13px;
}

.techrestSC1 img {
    width: 60px;
    height: 60px;
}

.techrestSC1 h2 {
    color: #F25C54;
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.conteudoPage1 p {
    color: #121212;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
    width: 439px;
    height: 116px;
    margin-top: 29px;
}

.bonecosSC1 img {
    padding-right: 67px;
    width: 800px;
    height: 385px;
    flex-shrink: 0;
}

/*FIM ConteudoSC1*/

/*ConteudoSC2*/
.conteudoPage2 {
    background: #121212;
    display: flex;
    flex-direction: column;
}

.conteudoPage2 h2 {
    margin-top: 60px;
    padding: 0px 60px;
    color: #F2F2F2;
    font-family: Manrope;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.groupSC2 {
    display: inline-flex;
    gap: 370.28px;
    padding: 0px 66px;
    padding-top: 40px;
    padding-left: 60px;
}

.exploreSC2,
.compartilheSC2,
.conectarSC2 {
    display: flex;
    flex-direction: column;
}

.exploreText,
.compartilheText,
.conectarText {
    display: flex;
    align-items: center;
}

.exploreText img,
.compartilheText img,
.conectarText img {
    width: 50px;
    height: 40px;
    padding-right: 10px;
}

.exploreText h4,
.compartilheText h4,
.conectarText h4 {
    color: #F2F2F2;
    text-align: center;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.exploreSC2 p,
.compartilheSC2 p,
.conectarSC2 p {
    padding-top: 16px;
    width: 340px;
    height: 172px;
    color: rgba(242, 242, 242, 0.50);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
}

.conteudoPage2 h2 {
    color: #F2F2F2;
    font-family: Manrope;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 90px;
    margin-bottom: 50px;
}

.conjuntoSC2 {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.conjunto1,
.conjunto2,
.conjunto3 {
    display: flex;
}

.conjunto1 h1,
.conjunto2 h1,
.conjunto3 h1 {
    margin-left: 62px;
    padding: 11px 25px;
    color: #121212;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.8px;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    background: #F2F2F2;
}

.conjunto1 p,
.conjunto2 p,
.conjunto3 p {
    color: rgba(242, 242, 242, 0.50);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
    width: 930px;
    padding-left: 21px;
}

.separaSC2a3{
    margin-top: 80px;
    background: #323232;
    border: none; 
    height: 1px; 
}
/*Fim ConteudoPage2*/

/*Estilizando ConteudoPage3*/

.conteudoPage3{
    background: #121212;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.conteudoPage3 h2{
    margin-top: 80px;
    margin-left: 60px;
    margin-bottom: 40px;
    color: #F2F2F2;
    font-family: Manrope;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.conteudoPage3 .p1, .p2{
    color: rgba(242, 242, 242, 0.50);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
    width: 816px;
    padding-left: 60px; 
}

.conteudoPage3 .p1{
    padding-bottom: 40px;
}

.links{
    display: flex;
    padding-left: 60px;
    gap: 42px;
}

.conteudoPage3 .links .a1 {
    display: flex;
    width: 359px;
    height: 48px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 0.5px solid #323232;
    flex-shrink: 0;
    cursor: pointer;
}


.conteudoPage3 .links .a1 a{
    color: #F2F2F2;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.links img{
    padding-right: 8px;
    width: 31px;
    height: 24px;
    flex-shrink: 0;
}

.conteudoPage3 .links .a2 {
    display: flex;
    width: 357px;
    height: 46px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #F2F2F2;
}

.conteudoPage3 .links .a2 a{
    display: flex;
    align-items: center;
    color: #191919;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.conteudoPage3 .a3{
    margin-left: 60px;
    display: flex;
    width: 357px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #F2F2F2;
}

.conteudoPage3 .a3 a{
    display: flex;
    align-items: center;
    color: #191919;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.conteudoPage3 .a3 img{
    padding-right: 8px;
    width: 30px;
    height: 22px;
    flex-shrink: 0;
}

.conteudoPage3 .p2{
    padding-top: 40px; 
    padding-bottom: 40px;
}

.conteudoPage3 .p3{
    color: rgba(242, 242, 242, 0.50);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    width: 876px;
    padding: 0px 60px;
    padding-top: 44px;
    padding-bottom: 112px;
}

.bonecosSC3{
    margin-top: 91px;
    margin-right: 66px;
    margin-bottom: 105px;
}
.bonecosSC3 img{
    width: 650px;
    height: 524px;
    flex-shrink: 0;
}

/*Fim ConteudoPage3*/

