/*Estilizando SECTION */

/*ConteudoSC1*/
.conteudoPage1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--Woodsmoke-50, #F6F6F6);
}

.conteudoSC1 {
    padding: 54px 59px;
}

.conteudoSC1 h1 {
    color: #121212;
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
}

.techrestSC1 {
    display: flex;
    gap: 13px;
}

.techrestSC1 img {
    width: 60px;
    height: 60px;
}

.techrestSC1 h2 {
    color: #F25C54;
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.conteudoPage1 p {
    color: #121212;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
    width: 439px;
    height: 116px;
    margin-top: 29px;
}

.bonecosSC1 img {
    padding-right: 67px;
    width: 657px;
    height: 385px;
    flex-shrink: 0;
}

/*FIM ConteudoSC1*/

/*ConteudoSC2*/
.conteudoPage2 {
    height: 2486px;
    background: #121212;
    display: flex;
    flex-direction: column;
}

.conteudoPage2 h2 {
    margin-top: 60px;
    padding: 0px 60px;
    color: #F2F2F2;
    font-family: Manrope;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.groupSC2 {
    display: inline-flex;
    gap: 370.28px;
    padding: 40px 66px;
    padding-left: 60px;
}

.exploreSC2, .compartilheSC2, .conectarSC2 {
    display: flex;
    flex-direction: column;
}

.exploreText, .compartilheText, .conectarText {
    display: flex;
    align-items: center;
}

.exploreText img, .compartilheText img, .conectarText img {
    width: 50px;
    height: 40px;
    padding-right: 10px;
}

.exploreText h4, .compartilheText h4, .conectarText h4 {
    color: #F2F2F2;
    text-align: center;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.exploreSC2 p, .compartilheSC2 p, .conectarSC2 p {
    padding-top: 16px;
    width: 340px;
    height: 172px;
    color: rgba(242, 242, 242, 0.50);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
}

/*Fim Conteudo SC2*/

